@font-face {font-family: exo-Bold;src: url("font/Exo-Bold.otf");}
@font-face {font-family: exo-extra-light;src: url("font/Exo-ExtraLight.otf");}
@font-face {font-family: exo-regular;src: url("font/Exo-Regular.otf");}
@font-face {font-family: open-sans-regular;src: url("font/OpenSans-Regular.ttf");}
@font-face {font-family: rockwell-regular;src: url("font/ROCK.TTF");}
@font-face {font-family: code-pro-bold;src: url("font/CodeProBold.otf");}
*, html, body {padding: 0;margin: 0;font-family: open-sans-regular;}
.o_navbar {height: 10vh;width: 100%;position: fixed;top: 0px;left: 0px;z-index: 5;background-color: none;transition: background-color .5s;}
.o_navbar-scroll {background-color: #fff;box-shadow: 0px 1px 6px #999;transition: background-color .5s;transition: box-shadow .5s;}
.o_menu_items {float: right;}
.o_navbar_cambrian_logo {height: 40px;width: 300px;display: inline-block;vertical-align: middle;margin-top: 1.5vh;margin-bottom: 3vh;object-fit: cover;}
.menu-primary-menu-container ul {text-align: right;height: 10vh;padding-right: 20px;}
.menu-primary-menu-container ul li {list-style: none;display: inline;padding-left: 15px;padding-right: 15px;line-height: 10vh;}
.o_nav_menus .menu-primary-menu-container ul li a {font-size: 13px;line-height: 13px;font-family: open-sans-regular;font-weight: 600;text-decoration: none;color: #fff;text-transform: uppercase;}
.o_nav_menus-scroll .menu-primary-menu-container ul li a {font-size: 13px;line-height: 13px;font-family: open-sans-regular;font-weight: 600;text-decoration: none;color: #3b3e3a;text-transform: uppercase;}
.menu-primary-menu-container ul .current-menu-item a, .menu-primary-menu-container ul li a:hover {color: #04469a;}
.o_slider_img {width: 100%;height: 100vh;object-fit: cover;}
.carousel-indicators button {width: 25px !important;height: 4px !important;margin-right: 10px !important;transform: skew(-60deg,0deg);}
.carousel-indicators .active {background-color: #04469a;}
.slider_title {font-size: 50px;font-weight: 600;text-shadow: 1px 1px #04469a;}
.slider_text {font-size: 20px;}
.carousel-caption {width: 700px;text-align: left;bottom: 20%;}
.page_title {font-size: 30px;font-weight: 600;max-width: 500px;margin: 0 auto 20px;text-align: center;color: #373a36;padding-top: 30px;}
.underline_border {width: 200px;height: 1px;background-color: #373a36;margin: 10px auto 15px;}
.why_cambrian_images {height: 500px;width: 100%;left: -5px;top: 0px;overflow: hidden;display: block;object-fit: cover;}
.why_cambrian_images:hover {transform: scale(1.02);overflow: hidden;transition: transform .2s ease-in-out;}
.why_design_button {background-color: #a6192e;height: 6px;padding: 0;border: none;width: 50px;transform: skew(-40deg,0deg);margin-top: 10px;margin-bottom: 10px;}
.why_cambrian_title {font-size: 25px;font-weight: 600;}
.why_cambrian_title a {color: #373a36;text-decoration: none;}
.why_cambrian_badges .why_margin {margin-bottom: 40px;}
.why_cambrian_badges img {height: 100px;width: 100px;margin-left: 50px;color: #a6192e;}
.why_cambrian_badges p {font-weight: 600;color: #373a36;}
.products_container {background: linear-gradient(to bottom,#afd4ea,#c9d5e0,#d2e3f4);}
.products_sub_head {width: 80%;text-align: center;margin: 0 auto;color: #373a36;font-weight: 400;margin-bottom: 50px;}
.products_wrap {padding: 10px 10px 10px 10px;background: linear-gradient(to bottom,#c2daed,#539bdb);margin-bottom: 5%;}
.products_title {text-align: center;margin-top: 15px;margin-bottom: 15px;}
.products_title a {color: #fff;text-decoration: none;font-size: 18px;font-weight: 600;}
.product_view {width: 60px;height: 60px;margin: 0 auto;text-align: center;font-size: 20px;font-weight: 600;border: 2px solid #fff;border-radius: 100px;color: #fff;padding-top: 10px;margin-bottom: 20px;}
.product_view:hover {transform: scale(1.05);overflow: hidden;transition: transform .2s ease-in-out;}
.pro_view {text-decoration: none;}
.footer_wrapper {background-color: #141414;}
.footer_container {padding-top: 30px;}
.footer_logo img {height: 40px;width: 180px;object-fit: cover;margin-bottom: 30px;}
.footer_container h5 {color: #fff;font-size: 16px;letter-spacing: .5px;margin-bottom: 25px;font-weight: 600;}
.footer_container li {list-style: none;color: #a9b8b8;text-decoration: none;font-size: 13px;margin-bottom: 8px;}
.footer_right_header {font-size: 30px;color: #fff;font-weight: 600;font-family: exo-bold;margin-bottom: 50px;padding-top: 20px;}
.footer_right_header strong {font-family: exo-extra-light;}
.footer_container p {font-size: 13px;color: #c9c9c9;}
.footer_social_wrapper li {margin-bottom: 15px;}
.footer_social_wrapper li i {font-size: 25px;}
.footer_copyright, .footer_copyright a {text-align: center;color: #b8b8b8;font-size: 12px;padding-top: 10px;padding-bottom: 10px;border-top: 1px solid #565656;padding-left: 0;padding-right: 0;}
.footer_copyright a {text-decoration: none;}
.footer_social li {display: inline;font-size: 30px;margin-left: 10px;margin-right: 10px;}
.o_work_scroll_down_button {position: absolute;bottom: 10vh;right: 20px;z-index: 5;font-size: 30px;font-weight: bold;color: #2b2b2b;padding-bottom: 15px;}
.o_our_work_single_post_wrap {overflow-y: hidden;margin-top: 2%;}
.o_bootstrap_row_margin_fix {margin: 0 0;}
.o_our_work_thumbnail_container {height: 210px;width: 100%;}
.o_our_work_thumbnail_img, .o_our_work_thumbnail_container {height: 210px;width: 100%;object-fit: cover;-webkit-transition: .4s ease;transition: 1s ease;overflow: hidden;}
.o_img_overlay {position: absolute;top: 0;left: 0;background-color: #000;opacity: 0;overflow: hidden;width: 100%;height: 210px;transition: .5s ease;padding-right: 1px;}
.o_post_view_work {color: #fff;position: absolute;right: 20px;top: 20px;font-family: open-sans-regular;border: 2px solid #fff;font-size: 14px;padding: 5px 10px;opacity: 1;}
.o_our_work_title_wrap {padding-left: 20px;padding-top: 15px;-ms-transition: .4s ease;-webkit-transition: .4s ease;transition: .4s ease;margin-bottom: 40px;height: 200px;}
.o_our_work_thumbnail_container {position: relative;background: #fff;}
.o_our_work_view_project {margin-top: 200px;color: #a6192e;font-family: open-sans-regular;font-weight: 700;font-size: 14px;text-transform: uppercase;line-height: 15px;text-decoration: none;}
.o_our_work_thumbnail_container:after {content: "";position: absolute;bottom: 0;right: 0;border-bottom: 30px solid white;border-left: 30px solid rgba(0,0,0,0);width: 0;-ms-transition: .4s ease;-webkit-transition: .4s ease;transition: .4s ease;}
.o_our_work_brands_name {font-family: rockwell-regular;font-size: 14px;text-transform: uppercase;color: #737373;height: 15px;}
.o_our_work_post_title {height: 20px;margin-top: -10px;}
.o_our_work_post_title a {color: black;font-family: open-sans-regular;font-size: 15px;font-weight: 700;text-transform: uppercase;line-height: 20px;text-decoration: none;}
.o_our_work_single_post_wrap:hover .o_our_work_thumbnail_img {transform: scale(1.1);opacity: .9;}
.o_our_work_single_post_wrap:hover .o_our_work_title_wrap {transform: translate(0,-110px);-webkit-transform: translate(0,-110px);-ms-transform: translate(0,-110px);}
.o_our_work_single_post_wrap:hover .o_our_work_brands_name {color: #ffc300;}
.o_our_work_single_post_wrap:hover .o_our_work_post_title a {color: #fff;}
.o_our_work_single_post_wrap:hover .o_img_overlay {opacity: .6;}
.o_our_work_single_post_wrap:hover .o_our_work_thumbnail_container:after {border-bottom: 30px solid #04469a;opacity: .7;}
.o_our_work_single_post_wrap:hover .o_our_work_view_project {margin-top: 90px;}
.o_our_work_post_wrap_container a {text-decoration: none;}
.our_work_pagination_wrapper {height: 100px;width: 100%;overflow: hidden;}
.o_our_work_previous_pagination a, .o_our_work_next_pagination a {color: #000;font-family: exo-bold;font-size: 25px;width: 150px;height: 25px;line-height: 100px;text-decoration: none;}
.o_our_work_previous_pagination {float: left;padding-left: 50px;}
.o_our_work_next_pagination {float: right;padding-right: 50px;}
.o_our_work_next_pagination:hover {transform: translateX(10px,0);-webkit-transform: translate(10px,0);-ms-transform: translate(10px,0);-ms-transition: .2s ease;-webkit-transition: .2s ease;transition: .2s ease;}
.o_our_work_previous_pagination:hover {transform: translateX(-10px,0);-webkit-transform: translate(-10px,0);-ms-transform: translate(-10px,0);-ms-transition: .2s ease;-webkit-transition: .2s ease;transition: .2s ease;}
.o_our_work_wrapper {padding-top: 1%;padding-bottom: 3%;}
.chairman_message {text-align: center;box-shadow: 0 19px 38px rgba(0,0,0,.3),0 15px 12px rgba(0,0,0,.22);padding: 10px;}
.chairman_message img {width: 100%;object-fit: cover;}
.chairman_message p {margin-top: 15px;}
.chairman_title {font-size: 20px;font-weight: 600;max-width: 60%;margin: 15px auto 0;border-bottom: solid 3px #a6192e;padding-bottom: 5px;}
.about_us_title {font-weight: 600;max-width: 100%;margin: 50px auto 10px;color: #373a36;}
.corner_message_wrapper {background-color: #edebe5;padding-bottom: 50px;}
.about_us_section {padding-left: 20%;}
.courses_page_title {color: #fff;}
.services_post_title a {font-size: 20px;font-weight: 600;text-decoration: none;color: #2b2b2b;}
.service_excerpt p {font-size: 14px;color: #575757;}
.services_link {text-decoration: none;color: #575757;font-size: 12px;}
.services_view {width: max-content;border: 1px solid #575757;padding: 6px 10px;border-radius: 20px;}
.services_view:hover {transform: scale(1.05);transition: trasform 2s ease-in-out;background-color: #539bdb;}
.footer_top_row {border-bottom: 1px solid #565656;padding-bottom: 0;margin-bottom: 30px;}
.footer_middle_row {border-bottom: 1px solid #565656;padding-bottom: 15px;margin-bottom: 15px;}
.footer_address {color: #fff;font-size: 14px;}
.about_us_img {background-blend-mode: multiply !important;background-color: rgba(0,0,0,.56) !important;height: 400px;background: url("https://rahyanshamsithroughltd.github.io/hexing_group/wp-content/uploads/2023/05/Company-value.jpg") 50% 50% no-repeat;opacity: .8;}
.about_us_text_wrapper {width: 70%;padding-top: 5%;padding-left: 5%;}
.about_title {padding-bottom: 20px;margin-bottom: 20px;width: 200px;border-bottom: 1px solid #fff;}
.about_title a {color: #fff;font-size: 30px;}
.about_us_text_wrapper p {color: #fff;}
.about_view {border-color: #fff;}
.events_wrap {background-color: #f8f8f8;padding: 10px 5px 10px 10px;}
.events_view {border: none;padding-left: 0px;}
.events_date {font-size: 12px;width: max-content;background-color: #008cf7;color: #fff;padding: 5px;}
.news_events_wrapper {padding-bottom: 5%;}